.HeaderBar {
  background-color: #2A77A2;
  position: fixed;
  height:100%;
  top:0;
  bottom:0;
  width:200px;
  padding: 5px;
  color: #fff;
}

.HeaderTitle {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
